.bg-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    width: 100%;
    height:100%;
    opacity:1;
    visibility: inherit;
    Z-index: 20;
}
header #logo img{
    max-width: 100%;
    height: auto;
  
}

.desktop{
    margin-top: 15px;
    margin-bottom:15px;
}
.hide-navicon-button{
	background:transparent;
	border:0;
	position:absolute;
}
.navicon-container{
	position:absolute;
	top:20px;
	right:50px;
	cursor: pointer;
  justify-items: right;
  height:40px;
  width:35px;
}

